h1 { 
    color: rgb(11, 109, 76);
    font-size: 80%; 
    }
    body {
        background-color: lightgray; 
    }
    .bluegroup { 
        color: red; 
        text-align: center;
        }
    #latteParagraph { color: bisque;
        text-align: center;
        font-size: 100px;
        border-color: rgb(125, 95, 153);
        border-style: solid;
        border-width: 5px;
    }
