h1 { 
    color: rgb(153, 16, 123);
    font-size: 40px; 
    font-family:'Times New Roman';
    padding-left: 1px;
    margin-left: 50px;
    }
 img { 
    border-radius: 50%;
    margin-left: 50px;
    
}
    body {
        background-color: rgb(156, 221, 243); 
    }
    .bluegroup { 
        color: rgb(228, 33, 179); 
        text-align: left; 
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 1px;
        margin-left: 50px;
    }

    ul > li {
        font-size: small;
        text-align: left;
        margin-left: 23px;
     }